@import url(https://fonts.googleapis.com/css?family=Raleway);

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 1200px) {
  .btdiv,
  .prob,
  .grid2x2,
  .innermenucontainer,
  .bsummary,
  .namegt,
  .chart {
    display: grid !important;
    grid-template-columns: 1fr !important;
    grid-template-rows: repeat(auto, auto) !important;
    /*max-width: 600px !important;*/
  }
}

@media screen and (max-width: 750px) {
  .btdiv,
  .prob,
  .grid2x2,
  .innermenucontainer,
  .bsummary,
  .namegt,
  .chart {
    display: grid !important;
    grid-template-columns: 1fr !important;
    grid-template-rows: repeat(auto, auto) !important;
    /*max-width: 400px !important;*/
  }
}

@media screen and (max-width: 500px) {
  .btdiv,
  .prob,
  .grid2x2,
  .innermenucontainer,
  .bsummary,
  .namegt,
  .chart {
    display: grid !important;
    grid-template-columns: 1fr !important;
    grid-template-rows: repeat(auto, auto) !important;
    /*max-width: 400px !important;*/
  }
}

.menucontainer {
  margin: 1%;
}

.btdiv {
  margin: 1rem;
  grid-column-gap: 20rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 95%;
  height: 5rem;
}

.nobordcontent {
  display: block;
  margin: 1%;
  padding: 4%;
  width: 95%;
  margin-top: 100px;
}

.nobordcontent h1,
.nobordcontent h2,
.blogcontent h1,
.blogcontent h2 {
  color: darkgray;
}

.prob {
  margin: 1em;
  grid-gap: 2rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  box-shadow: 0 0 0 1px lightgrey;
  border: 2px solid #fff;
}

button {
  background: #1c8d8d;
  color: #ffffff;
  box-shadow: 0 0 0 2px lightgrey;
  border: 2px solid #fff;
  font-size: 1.5rem;
  font-weight: 900;
  /*font-family: Raleway;*/
}

.d200 {
  max-width: 95%;
  /*height: 300px;*/
  margin: 1%;
}

.namegt {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  padding: 1%;
}

.chart {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  box-shadow: 0 0 0 1px lightgrey;
  border: 2px solid #fff;
  padding: 4%;
}

.bodcontainer {
  margin: 1%;
  padding: 2%;
}

.innermenucontainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2rem;
  font-size: 1.5rem;
  font-weight: 900;
  font-family: Raleway;
}

.coloredbar {
  background: rgb(64, 148, 82);
  margin-bottom: 0;
  color: white;
  box-shadow: 0 0 0 2px lightgrey;
  border: 4px solid #fff;
}

.wlink {
  color: white;
}

.mcontainer {
  margin: 0 auto;
  display: block;
}

.mlinks {
  color: white;
  text-decoration: none;
}

.blogcontent {
  display: block;
  margin: 1%;
  padding: 4%;
  width: 95%;
  box-shadow: 0 0 0 1px lightgrey;
  border: 2px solid #fff;
  margin-top: 100px;
}
canvas {
  box-shadow: 0 0 0 1px lightgrey;
  border: 2px solid #fff;
}
.bspan {
  color: #fff;
  background: #009292;
}

.bspant {
  color: #fff;
  background: #867a08;
}

.bspang {
  color: #fff;
  background: #03942e;
}
.bspanr {
  color: #fff;
  background: #af5a54;
}

.bspan,
.bspang,
.bspanr,
.bspant {
  padding: 0.2rem 1rem;
}

.bsummary {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto, 1fr);
  margin: 1em;
  grid-gap: 1rem;
  box-shadow: 0 0 0 1px lightgrey;
  border: 2px solid #fff;
  justify-content: center;
  padding: 4%;
}
